body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft YaHei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

/* 搜索模块 */
.search-index {
    display: flex;
    /* 以屏幕为准 */
    position: fixed;
    top: 0;
    left: 50%;
    /* 兼容老版本浏览器 */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* 固定的盒子一定要有宽度 */
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    /* background-color: pink; */
}
.search {
    height: 26px;
    border: 1px solid #ccc;
    flex: 1;
    margin: 7px 10px;
    border-radius: 5px;

}
.user {
    width: 44px;
    height: 44px;
    /* background-color: purple; */
    font-size: 12px;
    text-align: center;
    color: #2eaae0;

}
.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -12px -151px;
    background-size: 48px auto;
    margin: 3px auto 0;
}

.overview {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
}
.overview span {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
}

.options {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
}
.options .category {
    flex: 1;
    display: inline-flex;
    flex-flow: column nowrap;
    text-align: center;
    height: 300px;
}
.options .category span:nth-child(1) {
    flex: 1;
    background-color: orange;
}
.options .category span:nth-child(2) {
    flex: 1;
    background-color: lightblue;
}
.options .category span:nth-child(3) {
    flex: 1;
    background-color: lightgreen;
}
.options .detail {
    flex: 2;
    display: inline-flex;
    text-align: center;
}
.options .detail section {
    flex: 1;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.options .detail div:nth-child(1) {
    /* background-color: orange; */
}