body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft YaHei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}

/* search module */
.search-index {
    display: flex;
    /* fixed on screen */
    position: fixed;
    top: 0;
    left: 50%;
    /* compatible with old version browser */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* fixed CSS box must have width */
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.search {
    display: flex;
    height: 26px;
    border: 1px solid #ccc;
    flex: 1;
    margin: 7px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -280px;
    background-size: 104px auto;
    margin: 5px;
}

.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;

}
.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 3px auto -1px;
}

/* focus */
.focus {
    padding-top: 44px;
}
.focus img {
    width: 100%;
}

/* local travel navigation */
.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    margin: 3px 4px;
    border-radius: 8px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
}

.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon2 {
    background-position: 0 -32px;
}

.local-nav li .local-nav-icon3 {
    background-position: 0 -64px;
}

.local-nav li .local-nav-icon4 {
    background-position: 0 -96px;
}

.local-nav li .local-nav-icon5 {
    background-position: 0 -128px;
}

/* main nav */
.nav-common {
    display: flex;
    height: 88px;
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-common:nth-child(1) .nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}

.nav-common:nth-child(2) .nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/sprite.png) no-repeat 60px -565px;
}

.nav-common:nth-child(3) .nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/sprite.png) no-repeat 60px -358px;
}

/* select first two children */
.nav-items:nth-child(-n + 2) {
    border-right: 1px solid #fff;
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}

.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}

/* sub-navigation entry */
.subnav-entry {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 4px;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.subnav-entry li {
    /* child-box could be percentage relative to parent */
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav-entry li [class^="subnav-entry-icon"] {
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}

.subnav-entry li .subnav-entry-icon2 {
    background-position: 0 -30px;
}

.subnav-entry li .subnav-entry-icon3 {
    background-position: 0 -64px;
}

.subnav-entry li .subnav-entry-icon4 {
    background-position: 0 -320px;
}

.subnav-entry li .subnav-entry-icon5 {
    background-position: 0 -100px;
}

.subnav-entry li .subnav-entry-icon6 {
    background-position: 5px -163px;
}

.subnav-entry li .subnav-entry-icon7 {
    background-position: -2px -200px;
}

.subnav-entry li .subnav-entry-icon8 {
    background-position: 0 -130px;
}

.subnav-entry li .subnav-entry-icon9 {
    background-position: 0 -230px;
}

.subnav-entry li .subnav-entry-icon10 {
    background-position: 5px -288px;
}

/* sales box */
.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.sales-hd .more {
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 12px;
    color: #fff;
}

.sales-hd .more::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a {
    border-right: 1px solid #eee;
}

.row a img {
    width: 100%;
}

/* bottom navigation */
.bottom-nav {
    display: flex;
    margin: 0px 4px;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bottom-nav li {
    flex: 1;
    text-align: center;
}

.bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav li [class^="bottom-nav-icon"] {
    margin-top: 4px;
    width: 24px;
    height: 24px;
    background: url(../images/sprite.png) no-repeat -56px -150px;
    background-size: 104px auto;
}

.bottom-nav li .bottom-nav-icon2 {
    background-position: -56px -170px;
}

.bottom-nav li .bottom-nav-icon3 {
    background-position: -58px -193px;
}